@import "../../Global.scss";

.portfolioList{
    font-size: 16px;
    margin-left: 40px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    &.active{
        background-color: $mainColor ;
        color: white;
    }
}